header {
    display: inline;
    vertical-align:center;
}

h3 {color: #560183}
h4 {color: #560183}

@font-face { 

    font-family: tajawal-regular; 
    
    src: url(/Tajawal/Tajawal-Regular.ttf); 
    
    }
    blockquote {font-family: tajawal-regular, serif; }

.hangingindent {
    padding-left: 40px ;
    text-indent: -22px ;
  }
/* Grid layout in desktop view*/
  @media screen and (min-width: 800px) {
    img {
        max-width: 100%;
        text-align: left;
    }
    .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "item1 item2"
       
    }
    h1{
        font-family: tajawal-regular;
    }
.item1 {
    grid-area: item1;
    padding-top: 20px;
    padding-left: 10px;
    width: 80%;
    height: auto;
  }
   
    }
.item2 {
    grid-area: item2;
    padding-top: 20px;
    padding-left: 10px;
    }

/* Grid layout in desktop view*/
@media screen and (max-width: 1300px) {
    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "item1"
            "item2";
           }

    .item1 {
        grid-area: item1;
        justify-self: center;
        padding-left: 10px;
      }
       
    img {
        max-width: 50%;
        padding-left: 10px;
     }
    .item2{
        grid-area: item2;
        padding-left: 10px;
       
        }
    }
          
  .active {
    background-color:lightblue;
}

@media print{
    *{
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
img {
    max-width: 50%;
}
h1{
    font-family: tajawal-regular;
}
}

.back{
    max-width:900px;
    height:300px;
    padding: 20px;
    margin: 100px auto;
    box-shadow: 0px 0px 10px 2px gray;
    background-image: url("./background.png");
}
